@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    background-color: #eee;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.wrapper {
    padding-left: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left-bar-block{
    flex: 0.5;
    max-width: 146px;
    padding-top: 20px;
}

.dashboard-block{
    flex: 3.1;
    max-width: 1249px;
    padding: 20px;
}

.order-block{
    flex: 1.4;
    max-width: 525px;
}

.left-side-bar {
    background-color: white;
    width: 80px;
    height: 95vh;
    border-radius: 10px;
    margin-left: 40px;
    position: relative;
}

.left-side-bar .logo {
    position: absolute;
    top: -10px;
    left: -30px;

    background-color: white;
    padding: 30px;
    width: 146px;
    height: 146px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-side-bar .logo img {
    width: 96px;
}

.left-side-bar ul {
    list-style: none;
    padding: 120px 0;
    text-align: center;
}

.left-side-bar ul li {
    padding: 10px 0px;
    margin: 40px 0px;
    font-size: 20px;
}

.left-side-bar ul li a {
    color: #777777;
}

.left-side-bar ul li#selected {
    border-left: 2px solid red;
}

.left-side-bar ul li#selected a {
    color: #D33842;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.content {
    height: auto;
    box-sizing: border-box;
}

.top-bar{
    margin-bottom: 30px;
}

.mini-card-block{
    display: flex;
    gap: 30px;
}

.info-card{
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.info-card .icon {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card .icon i {
    color: #2b2b2b;
    font-size: 20px;
}

.info-card h4 {
    font-size: 25px;
    font-weight: bold;
    color: #2b2b2b;
    padding: 0;
    margin: 0;
}

.info-card p {
    font-size: 14px;
    color: #777777;
    padding: 0;
    margin: 0;
}

.detailed-card-block{
    display: flex;
    gap: 30px;
}

.detailed-card-box{
    flex: 1;
}

.detailed-card-box .detailed-card{
    height: 355px;
}

.detailed-card{
    flex: 1;
    margin-top: 20px;
    height: 730px;
    width: 384px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.detailed-card .icon {
    background-color: rgba(233, 233, 233, 0.192);
    padding: 10px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed-card .icon i {
    color: white;
    font-size: 18px;
}

.detailed-card .detailed-card-header{
    padding: 20px;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    height: 90px;
    border-radius: 10px 10px 0px 0px;
}

.detailed-card .detailed-card-header h4{
    font-size: 14px;
    font-weight: bold;
    flex: 5;
    text-align: left;
    padding-left: 20px;
}

.detailed-card .detailed-card-header a{
    color: white;
    flex: 3;
}

.detailed-card .detailed-card-alert {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 10px;
    width: 360px;
    margin-top: -15px;
    margin-left: 14px;
}

.detailed-card .detailed-card-alert h4{
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
}

.detailed-card .detailed-card-alert h5{
    color: #282323;
    font-size: 14px;
    padding: 0px;
    font-weight: bold;
    margin-left: 50%;
}

.detailed-card-body{
    padding: 10px;
}

.detailed-card ul{
    padding: 0;
    margin: 0;
}

.detailed-card-body ul li {
    list-style: none;
}

.detailed-card-body .stock-enough-item{
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    margin-top: 35px;
}

.detailed-card-body .stock-enough-list{
    margin-top: 50px;
}

.reserved-table li{
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.reserved-table .table-status{
    align-self: right;
    text-align: center;
    flex: 1;
}

.reserved-table ul li p{
    font-size: 14px;
}

.reserved-table ul li p#person {
    font-weight: bold;
}

.reserved-table ul li i{
    color: #335b7d;
}

.best-seller-pizza ul{
    margin-top: 20px;
}

.best-seller-pizza ul li {
    padding: 10px 0px;
}

.best-seller-pizza ul li h4 {
    color: #282323;
    font-size: 14px;
    font-weight: bold;
}

.finance h4#positive{
    color: #297948;
}

.finance h4#negative{
    color: #D33842;
}

.finance h4{
    color: #4f4b4b;
}

.finance .info-block{
    margin-top: 5px;
    background-color: white;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 66px;
    text-align: center;
    align-items: center;
}

.finance .info-block #more{
    text-align: right;
    flex: 1;
}

.finance .info-block #info p{
    margin-bottom: 10px;
}

.finance .info-block #info{
    flex: 1;
}

.finance .info-block p {
    font-size: 14px;
    font-weight: normal;
}

.finance .info-block h4#nummer{
    font-size: 20px;
    font-weight: bold;
}

.finance .info-block-footer{
    background-color: #eee;
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.detailed-card-body span#today-pizza{
    font-size: 13px;
    font-weight: normal;
    color: #a29898;
    margin-bottom: 20px;
}

.stock-enough-item .stock-item-footer{
    background-color: #eeee;
}

.stock-enough-item .stock-item-body{
    display: flex;
    padding: 15px 10px;
    align-items: center;
    text-align: center;
    max-height: 70px;
}

.stock-item-body .image{
    flex: 0.7;
}

.stock-item-body .item-title{
    flex: 2;
    text-align: left;
    padding-left: 10px;
}

.stock-item-body .order-now{
    flex: 1;
    text-align: right;
}

.stock-item-body .order-now h4{
    color: #3B8D5A;
}

.stock-item-body img{
    width: 100%;
    height: auto;
    max-height: 48px;
}

.stock-item-body h4{
    font-weight: bold;
    color: #282323;
}

.stock-enough-item h4 {
    font-size: 14px;
}

.stock-enough-item .stock-item-footer{
    font-size: 14px;
    display: flex;
    padding: 10px;
}

.stock-item-footer p {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-size: 12px;
}

.stock-item-footer span#available{
    color: #4fb476;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.stock-item-footer span#atention{
    color: #E7AD18;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.stock-item-footer span#empty{
    color: #D33842;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.stock-enough-item .stock-empty-item{
    font-size: 12px;
    background-color: #d5404ac9;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    width: 335px;
    margin-left: 13px;
    margin-top: -10px;
    position: absolute;
}

.stock-empty-item p{
    padding: 0;
    margin: 0;
}

#divisor{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    color: #2b2b2b;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.green-card{
    background-image: linear-gradient(#1ad261 , #1a432a);
}

.brown-card{
    background-image: linear-gradient(#9A3F3F , #452829);
}

.black-card{
    background-image: linear-gradient(#414141 , #181818);
}

.gold-card{
    background-image: linear-gradient(#EAAB0B , #b3661f);
}

.wheat-card{
    background-image: linear-gradient(rgb(215, 195, 158) , rgb(171, 154, 124));
}

.orders-panel{
    background-color: #F6F6F6;
    height: 100vh;
    padding: 30px;
}

.orders-panel .order-panel-header{
    margin-top: 20px;
}

.orders-panel .order-panel-header #title {
    font-weight: bold;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.orders-panel .order-panel-header .task-button{
    text-align: end;
    align-items: end;
    justify-content: end;
}

.orders-panel .order-panel-header span {
    font-weight: bold;
    font-size: 14px;
    background-color: #3B8D5A;
    padding: 10px;
    border-radius: 5px;
}

.orders-panel .order-panel-header span a {
    color: white;
    margin: 0px;
}

.orders-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.orders-panel ul li {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 20px;
}

.orders-panel ul li h2 {
    font-size: 18px;
    font-weight: bold;
    color: #282323;
}

.orders-panel ul li h4 {
    font-size: 18px;
    font-weight: bold;
    color: #3B8D5A;
}

.orders-panel ul li p#id{
    font-size: 12px;
    color: #999999;
}

.orders-panel ul li span {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}


.orders-panel ul li .right {
    text-align: right;
}

.orders-panel ul li span#canceled {
    background-color: #FFE1E3;
    color: #D5404A;
}

.orders-panel ul li span#done {
    background-color: #D4FFE4;
    color: #3B8D5A;
}

.orders-panel ul li span#preparing {
    background-color: #FFF3D4;
    color: #E7AD18;
}

.orders-panel ul li .info{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.orders-panel ul li .info i{
    margin: 0;
    padding: 0;
    color: #999999;
}
.orders-panel ul li .info p{
    color: #999999;
    margin-right: 20px;
}

.orders-panel ul li .info p:last-child{
    color: #999999;
    margin: 0px;
}

.orders-panel ul li .order-pizza{
    background-color: #EEEEEE;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    gap: 20px;
}

.order-card-header{
    display: flex;
}

.order-card-header .consumer-info{
    flex: 2 1;
}

.order-card-header .order-pay{
    flex: 1 1;
    margin-top: 20px;
}

.order-card-header .order-id {
    flex: 2 2;
}

.orders-panel ul {
    margin-top: 20px;
}

.orders-panel ul li .order-pizza .order-pizza-name p{
    font-size: 12px;
    font-weight: normal;
    color: #282323;
    padding: 0px;
    margin: 0px;
}

.orders-panel ul li .order-pizza .order-pizza-info{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 160px;
}

.orders-panel ul li .order-pizza .order-pizza-info p{
    font-size: 12px;
    color: #999999;
    padding: 0px;
    margin: 0px;
}

.orders-panel ul li .order-pizza .order-pizza-info h4{
    font-size: 15px;
    color: #282323;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.box-shadow{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
}

progress {
    box-sizing: border-box;
    width: 360px;
    height: 10px;
    border-radius: 8px;
    background: linear-gradient(#EEEEEE, #EEEEEE);
    border: none;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 5.6px;
    box-shadow: inset 0 0.8px 0.8px rgba(255, 255, 255, 0.35);
    background: var(--fill);
    border: none;
}

progress::-moz-progress-bar {
    border-radius: 5.6px;
    box-shadow: inset 0 0.8px 0.8px rgba(255, 255, 255, 0.35);
    background: var(--fill);
    border: none;
}

progress:nth-child(1) {
    --fill: repeating-linear-gradient(
            100deg, #256f41ae 0 3px, #2e7f4d 0 10px)
    10px,
    linear-gradient(#ffffff, #C4C4C4);
}

